{% extends "layout1.html" %}
{% block content %}
<div class="container" >
	<h1> search hare </h1>
	<form actiom="" method="POST" >
		<div class="form-group" >
			<input type="text" name="name" placeholder="enter here" class="form-control">
		</div>
		<input type="submit" class="btn btn-info" value="submit button">
	</form>
	<br>
	<br>

	<fieldset u can see now >
		<legend>CHECK HERE</legend>
		<div class="columns">
			<div class="media-content" >

				<div class="content" >
					<p>
						<span class="title"> DELHI </span>
						<br>
						<span class="subtitle" > 29F </span>
						<br> thunderstorm with heavy rain
					</p>
				</div>
			</div>
		</div>	
		<figure class="image is 50*50"
		<img src="http://openweatherapp.org/img/w/10d.png" alt="image">
		</figure>
	</fieldset>				

</div>			








{% endblock %}